/*
  FOR A LIGHT GRAY, USE THE BELOW
  "cool" gray: #242424
  gray: #484848;
*/

@font-face {
  font-family: 'FranieSemiBold';
  src: url('/src/assets/fonts/FranieVariableTest-SemiBold-BF64c31f3d7b0b9.otf') format("opentype");
}

@font-face {
  font-family: 'FranieBlack';
  src: url('/src/assets/fonts/FranieVariableTest-Black-BF64c31f3ca614b.otf') format("opentype");
}

:root {
  font-family: "FranieBlack", "Times New Roman", Sans-Serif;
  display: grid;
  place-items: center;
  background-color: black;
  color: black;
}


.main-container {
  /* background-color: black; */
  background-color: #242424;
  height: 95vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 25px;
}

.title {
  font-size: xx-large;
  font-family: "FranieBlack", "Times New Roman", Sans-Serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.song-choosing-box {
  height: 70%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


.song-display-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-right: 150px;
}

.song-display-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.display-text {
  color: white
}

.song-name {
  font-size: 35px;
  font-family: "FranieSemiBold", 'Times New Roman', sans-serif;
}

.image {
  height: 500px;
  width: 500px;
}